src/commit.h
Game.exe
Editor.exe
lib/*
tmp/*
cache/*
.vs/*
enc_temp_folder/*
*.user
*.ilk
*.pdb
*.exe
*.lib
*.dll
*.exp
*.map
*.iobj
*.ipdb
*.opt
*.cap
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.obj
*.idb
*.tlog
*.log
*.recipe
*.vsidx
*.filelistabsolute.txt
*.sln
*.giw
!bin/win64/dxcompiler.dll
!bin/win64/dxil.dll
!bin/arm64ec/dxcompiler.dll
!bin/arm64ec/dxil.dll
!WinPixEventRuntime.dll
!WinPixEventRuntime.lib
!extern/JoltPhysics/Lib/x64/Debug/*
!extern/JoltPhysics/Lib/x64/Release/*
!extern/JoltPhysics/Lib/x64/Distribution/*