src/commit.h
Game.exe
Editor.exe
lib/*
bin/*
tmp/*
cache/*
.vs/*
enc_temp_folder/*
*.user
*.ilk
*.pdb
*.exe
*.lib
*.dll
*.exp
*.iobj
*.ipdb
*.opt
*.cap
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.obj
*.idb
*.tlog
*.log
*.recipe
*.vsidx
*.filelistabsolute.txt
!dxcompiler.dll
!dxcompiler.lib
!dxil.dll
!WinPixEventRuntime.dll
!WinPixEventRuntime.lib
!extern/JoltPhysics/Lib/x64/Debug/*
!extern/JoltPhysics/Lib/x64/Release/*
!extern/JoltPhysics/Lib/x64/Distribution/*