lib/*
tmp/*
cache/*
.vs/*
enc_temp_folder/*
*.user
*.ilk
*.pdb
*.exe
*.lib
*.dll
*.exp
*.iobj
*.ipdb
*.opt
*.cap
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.obj
*.idb
*.tlog
*.log
*.recipe
*.vsidx
*.filelistabsolute.txt
!dxcompiler.dll
!dxcompiler.lib
!dxil.dll
!WinPixEventRuntime.dll
!WinPixEventRuntime.lib
!extern/JoltPhysics/Lib/x64/Debug/*
!extern/JoltPhysics/Lib/x64/Release/*
!extern/JoltPhysics/Lib/x64/Distribution/*

!Editor.exe
!bin/x64/Release/*.dll
!bin/x64/Release_DX12/*.dll

!Game.exe
!bin/x64/Final/*.dll
!bin/x64/Final_DX12/*.dll